* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.border {
  border: 2px solid rgba(236, 232, 225, 0.795);
  display: inline-block;
  padding: 25px;
  border-radius: 30px;
}
.sign_up {
  justify-content: center;
  padding-top: 10%;
  text-align: center;
}
form {
  text-align: center;
  padding-bottom: 5px;
}
form input {
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(231, 255, 255);
  border: none;
}
.fullname input{
  width: 145px;

}
.sign_up button {
  border-radius: 20px;
  width: 200px;
  margin: 5px 60px;
  background-color: #ff8c00;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
form i {
  margin-left: 270px;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
}
#login_link {
  display: block;
  border-radius: 50px;
  width: 100px;
  margin: 5px 120px;
  background-color: #06b0b6;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}
.terms_policy {
  width: 20px;
  border-radius: 15px;
  padding: 0px;
  color: rgb(10, 9, 9);
  border: none;
  margin-top: 10px;
}

.error {
  margin-left: 5px;
  padding: 10px;
  text-align: left;
  color: red;
}
